/* 
-----------------
Reset
-----------------
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
-----------------
Common
-----------------
*/
body {
  font-family: 'Bricolage Grotesque', sans-serif;
}

.margine-sup {
  margin-top: 15vh;
}

/* 
-----------------
Header
-----------------
*/
/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0px 1px 2px #dedede;
  line-height: 80px;
  max-height: 80px;
}

nav ul {
  display: flex;
  gap: 60px;

  list-style-type: none;
  align-items: center;
}

nav ul li img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

.bottone {
  background-color: #0061ff;
  color: white;
  padding: 10px;
}

/* Jumbotron */
.jumbotron {
  color: white;
  background-color: #1e1919;
  display: flex;
}

.cont-jumbo {
  display: flex;
  padding: 15vh 0 10vh;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  align-items: center;
}

h1 {
  font-size: 50px;
  text-align: center;
  width: 90%;
}

.cont-jumbo p {
  font-size: 18px;
  text-align: center;
  margin-top: 2vh;
  font-weight: 200;
}

.cont-jumbo .bottone {
  background-color: #5998ff;
  padding: 20px;
  margin: 5vh 0 10vh;
}

.cont-jumbo .bottone:hover {
  background-color: #7caefd;
  border-radius: 20px;
  transition: all 0.3s;
  color: white;
}

.cont-jumbo img {
  width: 130%;
}

/* 
-----------------
Main
-----------------
*/
main {
  background-color: #f7f5f2;
}

.box {
  display: flex;
}

.foto {
  width: 50%;
}

.foto img {
  width: 100%;
  display: block;
}

.testo {
  width: 50%;
  padding: 40px 100px 0 60px;
  position: relative;
}

.testo h3 {
  font-size: 45px;
  font-weight: 400;
  margin: 10px 0 20px;
}

.testo p {
  font-size: 18px;
  font-weight: 300;
}

.bottom-testo {
  position: absolute;
  bottom: 50px;
}

.testo .bottone {
  background-color: #0061ff;
  color: white;
  padding: 15px;
}

.testo .bottone:hover {
  background-color: #4c8ef8;
}

.testo .info {
  margin-left: 20px;
  text-decoration: underline;
}

/* Basement-main */
.basement-company {
  padding: 100px 0;
  background-color: #fad04a;
}

.cont-basem-company {
  width: 60%;
  margin: 0 auto;
  align-items: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont-basem-company button {
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid black;
}

.cont-basem-company button a {
  color: #1e1919;
  font-size: 70px;
  font-weight: 300;
}

/* 
-----------------
Footer
-----------------
*/
footer {
  background-color: #1e1919;
}

.container-footer {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.cont-list {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.container-footer ul li {
  list-style-type: none;
}

.container-footer ul li h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

.container-footer ul li {
  padding: 5px;
  color: white;
}

.container-footer ul li a {
  font-size: 14px;
  color: white;
}

.container-footer hr {
  width: 80px;
  margin-top: 50px;
  border-color: #999999;
}

.lingua {
  color: white;
  margin-top: 50px;
  font-size: 14px;
}

/* 
-----------------
Hovers
-----------------
*/
/* Hover navbar */
nav ul li:hover {
  text-decoration: underline;
}

nav ul li .bottone:hover {
  background-color: #70a5fc;
}

/* Hover basement-company */

/* Footer */
.container-footer ul li a:hover {
  text-decoration: underline;
}

.container-footer .lingua:hover {
  text-decoration: underline;
  cursor: pointer;
}
