/* 
-----------------
Reset
-----------------
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
-----------------
Common
-----------------
*/
body {
  font-family: 'Open Sans', sans-serif;
}

.bottone {
  background-color: #0061ff;
  color: white;
  padding: 10px;
}

.margine-sup {
  margin-top: 15vh;
}

/* 
-----------------
Header
-----------------
*/
/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

nav ul {
  display: flex;
  gap: 60px;
  line-height: 60px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.nav-sx ul li {
}

/* Jumbotron */
.jumbotron {
  background-color: #b4d0e7;
}

.container-header {
  border: 1px dashed black;
  width: 60%;
  margin: 0 auto;
  padding-top: 15vh;
}

.container-titolo {
  border: 1px dashed rgb(109, 13, 104);
  width: 90%;
}

h1 {
  font-size: 60px;
  font-weight: 800;
}

.cont-jumbo {
  display: flex;
  padding-top: 4vh;
}

.testo-jumbo {
  width: 30%;
}

.foto-jumbo {
  width: 70%;
}

.foto-jumbo img {
  width: 750px;
  position: absolute;
  display: block;
}

.testo-jumbo i {
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.testo-jumbo div {
  margin-top: 40px;
}

/* 
-----------------
Main
-----------------
*/

h2 {
  font-size: 40px;
  margin-bottom: 5vh;
}

.container-abs {
  border: 1px dashed black;
  width: 60%;
  margin: 0 auto;
  padding-top: 15vh;
}

/* Radio buttons */
.radiobutton-container {
  display: flex;
  align-items: center;
}

label {
  margin: 0 70px 0 5px;
}

input.round-radio {
  width: 20px;
  height: 20px;
}

/* Box piani */
.container-box-piani {
  display: flex;
  gap: 80px;
  margin-top: 5vh;
  flex-wrap: wrap;
}

.box-piani {
  border: 1px solid #d0d0d3;
  width: calc((100% - 160px) / 3);
  padding-bottom: 40px;
}

.tipologia,
.info-tipologia {
  padding: 0 30px;
}

.box-piani .utenza,
.box-orizz .utenza {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #d0d0d3;
}

.box-piani h3,
.box-orizz h3 {
  padding: 20px 0 10px;
  font-size: 25px;
}

.prezzo-box {
  font-size: 14px;
  font-weight: 700;
}

.durata {
  color: #666666;
  font-size: 14px;
  margin: 10px 0;
}

.info-tipologia {
  margin-top: 50px;
}

.info-tipologia ul {
  list-style-type: none;
}

.prova {
  margin-top: 70px;
  text-align: center;
  width: 80%;
  margin: 70px auto;
  background-color: #0061ff;
  padding: 10px 0;
}

.btn-prova {
  background-color: #0061ff;
  color: white;
}

.info-tipologia ul li {
  display: flex;
}

.info-tipologia ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-tipologia ul li i {
  margin: 3px 5px 0 0;
}

.cop {
  margin: 50px 0;
  padding: 0 20px;
}

.cop a {
  color: #0061ff;
  text-decoration: underline;
}

hr {
  width: 60px;
  margin-left: 20px;
  border: 0.5px solid #c7c7c7;
}

h4 {
  margin: 50px 0 30px;
}

.novita {
  padding: 0 20px;
}

.novita ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.novita ul li {
  display: flex;
}

.novita ul li i {
  margin: 3px 5px 0 0;
}

/* Box orizzontale */
.box-orizz {
  border: 1px solid #d0d0d3;
  width: 100%;
  padding-bottom: 50px;
  position: relative;
}

.btn-orizz {
  background-color: #0061ff;
  padding: 10px 40px;
  color: white;
  position: absolute;
  right: 30px;
  top: 70px;
}

.info-orizz {
  padding: 50px 0 0 30px;
}

/* 
-----------------
Footer
-----------------
*/

/* 
-----------------
Hovers
-----------------
*/

nav ul li:hover {
  border-bottom: 2px solid black;
}

nav ul li .bottone:hover {
  background-color: #70a5fc;
}
