/* 
-----------------
Reset
-----------------
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
-----------------
Common
-----------------
*/
body {
  font-family: 'Open Sans', sans-serif;
}

.bottone {
  background-color: #0061ff;
  color: white;
  padding: 10px;
}

.margine-sup {
  margin-top: 15vh;
}

/* 
-----------------
Header
-----------------
*/
/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0px 1px 2px #dedede;
  line-height: 80px;
}

nav ul {
  display: flex;
  gap: 60px;

  list-style-type: none;
  align-items: center;
}

nav ul li img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

.nav-sx ul li {
}

/* Jumbotron */
.jumbotron {
  background-color: #b4d0e7;
}

.container-header {
  width: 60%;
  margin: 0 auto;
  padding-top: 15vh;
  position: relative;
}

.container-titolo {
  width: 90%;
}

h1 {
  font-size: 70px;
  font-weight: 800;
}

.cont-jumbo {
  display: flex;
  padding-top: 7vh;
}

.testo-jumbo {
  width: 30%;
}

.foto-jumbo {
  width: 70%;
}

.foto-jumbo img {
  width: 800px;
  position: absolute;
}

.testo-jumbo div {
  margin-top: 60px;
}

.testo-jumbo i {
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 20px;
}

/* 
-----------------
Main
-----------------
*/

h2 {
  font-size: 40px;
  margin-bottom: 5vh;
}

.container-abs {
  width: 55%;
  margin: 0 auto;
  padding-top: 15vh;
}

/* Radio buttons */
.radiobutton-container {
  display: flex;
  align-items: center;
}

label {
  margin: 0 70px 0 5px;
}

input.round-radio {
  width: 20px;
  height: 20px;
}

/* Box piani */
.container-box-piani {
  display: flex;
  gap: 80px;
  margin-top: 5vh;
  flex-wrap: wrap;
}

.box-piani {
  border: 1px solid #d0d0d3;
  width: calc((100% - 160px) / 3);
  padding-bottom: 40px;
}

.tipologia,
.info-tipologia {
  padding: 0 30px;
}

.box-piani .utenza,
.box-orizz .utenza {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #d0d0d3;
}

.box-piani h3,
.box-orizz h3 {
  padding: 20px 0 10px;
  font-size: 25px;
}

.prezzo-box {
  font-size: 14px;
  font-weight: 700;
}

.durata {
  color: #666666;
  font-size: 14px;
  margin: 10px 0;
}

.info-tipologia {
  margin-top: 50px;
}

.info-tipologia ul {
  list-style-type: none;
}

.prova {
  margin-top: 70px;
  text-align: center;
  width: 80%;
  margin: 70px auto;
  background-color: #0061ff;
  padding: 10px 0;
}

.btn-prova {
  background-color: #0061ff;
  color: white;
}

.info-tipologia ul li {
  display: flex;
}

.info-tipologia ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-tipologia ul li i {
  margin: 3px 5px 0 0;
}

.cop {
  margin: 50px 0;
  padding: 0 20px;
}

.cop a {
  color: #0061ff;
  text-decoration: underline;
}

hr {
  width: 60px;
  margin-left: 20px;
  border: 0.5px solid #c7c7c7;
}

h4 {
  margin: 50px 0 30px;
}

.novita {
  padding: 0 20px;
}

.novita ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.novita ul li {
  display: flex;
}

.novita ul li i {
  margin: 3px 5px 0 0;
}

/* Box orizzontale */
.box-orizz {
  border: 1px solid #d0d0d3;
  width: 100%;
  padding-bottom: 50px;
  position: relative;
}

.btn-orizz {
  background-color: #0061ff;
  padding: 10px 40px;
  color: white;
  position: absolute;
  right: 30px;
  top: 70px;
}

.info-orizz {
  padding: 50px 0 0 30px;
}

/* Partner */
.container-partner {
  display: flex;
  width: 55%;
  margin: 0 auto;
  padding-top: 15vh;
  gap: 50px;
  padding-right: 50px;
}

.box-foto-partner {
  width: 60%;
}

.box-foto-partner img {
  width: 100%;
}

.box-testo-partner {
  width: 50%;
  padding-right: 50px;
}

.box-testo-partner h3 {
  margin-top: 50px;

  font-size: 25px;
}

.box-testo-partner p {
  margin-top: 30px;
}

.box-testo-partner button {
  margin-top: 30px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
}

.box-testo-partner button:hover {
  background-color: #0061ff;
  border: 1px solid #0061ff;
  color: white;
  cursor: pointer;
}

/* Operazioni Dropbox business */
.titolo-op-business {
  width: 55%;
  margin: 0 auto;
  margin-top: 15vh;
}

.container-op-business {
  display: flex;
  width: 55%;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 50px 20px;
}

.box-op {
  width: calc((100% - 40px) / 3);
  display: flex;
  flex-direction: column;
}

.box-op img {
  width: 100%;
}

.box-op h4 {
  font-size: 25px;
}

.basement-op-business {
  width: 55%;
  margin: 0 auto;
  margin-top: 100px;
}

.basement-op-business a {
  color: #0000f1;
  text-decoration: underline;
}

/* Company */
.container-abs-company {
  margin-top: 15vh;
  display: flex;
  border: 1px dashed black;
  justify-content: space-between;
}

.cont-company-sx {
  border: 1px solid purple;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% / 3);
}

.box-company {
  width: 50%;
  /* come far si che height sia uguale a width, il quale è 50% del contenitore*/
  height: 300px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-company img {
  width: 50%;
  filter: invert(1);
}

.cont-company-dx {
  border: 1px solid purple;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% / 3);
}

/* Colori company */
.salvia {
  background-color: #a2d39b;
  border: 15px solid #d1e9cd;
}

.granata {
  background-color: #61082b;
}

.ciano {
  background-color: #0093ce;
}

.red {
  background-color: #ff1c1c;
}

.darker-red {
  background-color: #d5001f;
}

.blue {
  background-color: #0d2481;
}

.yellow {
  background-color: #ffd830;
}

.light-blue {
  background-color: #b4d0e7;
}

/* 
-----------------
Footer
-----------------
*/

/* 
-----------------
Hovers
-----------------
*/

nav ul li:hover {
  border-bottom: 2px solid black;
}

nav ul li .bottone:hover {
  background-color: #70a5fc;
}
